beautifulsoup4==4.12.3
certifi==2024.8.30
idna==3.10
prompt-toolkit==3.0.51
pyconfigstore3==1.0.1
pyfiglet==1.0.2
Pygments==2.18.0
regex==2024.11.6
requests==2.32.3
questionary==2.1.0
six==1.16.0
soupsieve==2.6
termcolor==2.5.0
urllib3==2.2.3
wcwidth==0.2.13
